h1{
    color: rgb(225, 28, 28);
}
h2{
    color: rgb(239, 98, 27);
}
ol{
    color: maroon;
}
.a1{
    font-weight: bolder;
    text-decoration: line-through;
}
.a2{
    font-weight: bolder;
    background-color: yellow;
}
.a3{
font-style: italic;
text-decoration: underline;
}
ul{
    color: maroon;
    letter-spacing:4px;
}
.a4{
    background-color:yellow ;
}
.footer{
    color: maroon;
}
.a5{
    background-color: yellow;
    color: red;
}